<html>
  <head>
    <title>Brandon's Beautiful Blog</title>
  </head>

  <body>
    <div>
      <h1>
        <a href="https://github.com/brandonduong">Brandon Duong</a>
      </h1>
    </div>

    <div>
      <h2>Reasons Why Brandon Duong Is (VERY) Cool:</h2>
        <ul>
          <li>He's hot.</li>
          <li>He's handsome.</li>
          <li>He's buff.</li>
          <li>He's masculine.</li>
          <li>He's intelligent.</li>

        </ul>
    </div>

    <div>
      <h2><a href="">My First Post</a></h2>
      <p> - Just testing for now.
        <br><br>
        Published: 01/06/2020, 5:01 pm
      </p>
    </div>



  </body>
</html>
